h1 {
	color: #0066CC;
	margin-left: -5%
}
h2,h3 {
	color: #0066CC;
	margin-left: -3%
}
body { 
    color: black; background: white;
	font-family: sans-serif;
	margin-left: 10%;
	margin-right: 10%
}
pre {
    font-weight: bold;
    white-space: pre; font-family: monospace;
	font-size : 100%;
}
pre.code {
	color : Maroon;
	font-family : "Courier New", Courier, monospace;
}
pre.text {
    color: black; 
	font-family : "Courier New", Courier, monospace;
}
pre.tty {
}
pre.syntax {
    color: black; 
	font-family : "Courier New", Courier, monospace;
}
pre.grammar {
    color: black; 
	font-style: italic;
	font-weight: normal;
	font-family : "Courier New", Courier, monospace;
}
var {
	color: Yellow;
	font-style: italic;
}
tt {
	color: black;
	font-family : monospace;
	font-size : 100%;
	font-weight : bold;
	white-space: pre; 
}
div.filecontent {
	background-color : #99CCFF;
}
div.syntax {
	background-color : #CCCCCC;
}
div.tty {
}
em {
	font-style: italic;
	font-weight : bold;
}
li {
	list-style-type : square;
	margin-top : 1em;
	margin-bottom : 1em;
}
strong { 
    font-weight: bold 
}
address {
	color: Black;
}
dt {
	color: Green;
    font-weight: bold 
}
caption {
	color: #0066CC;
    font-weight: bold 
}